.dashboard-container {
    margin: 1em 2em;
}

.add-book {
    display: inline-block;
    align-content: flex-end;
}

.content-title {
    margin: 0.5em 0 1.5em 0;
}

mat-form-field {
    width: 40%;
}
