<mat-sidenav-container fxFlexFill class="root-container" autosize>
  <mat-sidenav class="side-nav" [ngClass]="{'expanded' : isExpanded}" [mode]=mode opened="true">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon>notes</mat-icon>
        <h4 mat-line *ngIf="isExpanded">MENU</h4>
      </mat-list-item>
      <mat-list-item (click)="showSubmenu = !showSubmenu" *ngIf="isExpanded">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <h4 mat-line>CONTENT MANAGEMENT</h4>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
      </mat-list-item>
      <mat-list-item class="submenu" *ngIf="showSubmenu">
        <h4 mat-line>CONTENT 1</h4>
      </mat-list-item>
      <mat-list-item class="submenu" *ngIf="showSubmenu">
        <h4 mat-line>CONTENT 2</h4>
      </mat-list-item>
      <mat-list-item *ngIf="isExpanded">
        <mat-icon mat-list-icon>tab</mat-icon>
        <h4 mat-line>COURSES</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row">
        <img fxFlex="0 0 10%" src="../assets/atom-logo.png" alt="Logo"/>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>